### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("../Resources/schools_complete.csv")
student_data_to_load = Path("../Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Calculate the total number of schools
school_name=school_data_complete['school_name'].unique()
total_school_number=len(school_name)
total_school_number

15

In [3]:
# Calculate the total number of students
total_students=school_data_complete["student_name"].count()
total_students

39170

In [4]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [5]:
# Calculate the average maths score 
average_maths_score = school_data_complete["maths_score"].mean()
average_maths_score

70.33819249425581

In [6]:
# Calculate the average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

69.98013786060761

In [7]:
# Calculate the percentage of students with a passing maths score (50 or greater)
students_passing_maths = school_data_complete.loc[school_data_complete["maths_score"] >= 50]
number_students_passing_maths = students_passing_maths["Student ID"].count()

percentage_passing_maths = (number_students_passing_maths / total_students) * 100

percentage_passing_maths

86.07863160582077

In [8]:
# Calculate the percentage of students with a passing reading score (50 or greater)
students_passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 50]
number_students_passing_reading = students_passing_reading["Student ID"].count()

percentage_passing_reading = (number_students_passing_reading / total_students) * 100
percentage_passing_reading

84.42685728874139

In [9]:
# Calculate the percentage of students who passed maths **and** reading (% Overall Passing)
Overall_passing = school_data_complete[(school_data_complete['maths_score'] >= 50) & (school_data_complete['reading_score'] >= 50)]['Student ID'].count()/total_students*100
Overall_passing

72.80827163645647

In [10]:
# Create a dataframe to hold the above results
local_government_area_summary = pd.DataFrame({
    "Total Schools": total_school_number,
    "Total Students": f"{total_students:,}",
    "Total Budget": f"${total_budget:,.2f}",
    "Average Maths Score": f"{average_maths_score:.6f}",
    "Average Reading Score": f"{average_reading_score:.5f}",
    "% Passing Maths": f"{percentage_passing_maths:.6f}",
    "% Passing Reading": f"{percentage_passing_reading:.6f}",
    "% Overall Passing": f"{Overall_passing: .6f}"
}, index=[0])

local_government_area_summary

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.98014,86.078632,84.426857,72.808272

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [11]:
# School Name (group)
school_name = school_data_complete.set_index('school_name').groupby(['school_name'])

In [12]:
# School Type
school_type = school_data.set_index('school_name')['type']

In [13]:
# Calculate total students per school
total_student = school_name['Student ID'].count()

In [14]:
# Calculate total school budget
total_school_budget = school_data.set_index('school_name')['budget']

In [15]:
# Calculate budget per student
budget_per_student = (school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size'])

In [16]:
# Calculate Average Maths Score

average_maths_score = school_name['maths_score'].mean()

In [17]:
# Calculate Average Reading Score
average_reading_score = school_name['reading_score'].mean()

In [18]:
# Calculate % Passing Maths
pass_maths_percent = school_data_complete[school_data_complete['maths_score'] >= 50].groupby('school_name')['Student ID'].count()/total_student*100

In [19]:
# Calculate % Passing Reading
pass_read_percent = school_data_complete[school_data_complete['reading_score'] >= 50].groupby('school_name')['Student ID'].count()/total_student*100

In [20]:
# Calculate % Overall Passing (The percentage of students that passed maths **and** reading.)
overall_pass = school_data_complete[(school_data_complete['reading_score'] >= 50) & (school_data_complete['maths_score'] >= 50)].groupby('school_name')['Student ID'].count()/total_student*100

In [21]:
# Create a dataframe to hold the above results & format 

per_school_summary = pd.DataFrame({
    "School Type": school_type,
    "Total Students": total_student,
    "Per Student Budget": budget_per_student,
    "Total School Budget": total_school_budget,
    "Average Maths Score": average_maths_score,
    "Average Reading Score": average_reading_score,
    '% Passing Maths': pass_maths_percent,
    '% Passing Reading': pass_read_percent,
    "% Overall Passing": overall_pass
})


#munging
school_summary = per_school_summary[['School Type', 
                          'Total Students', 
                          'Total School Budget', 
                          'Per Student Budget', 
                          'Average Maths Score', 
                          'Average Reading Score',
                          '% Passing Maths',
                          '% Passing Reading',
                          '% Overall Passing']]


#formatting
school_summary.style.format({'Total Students': '{:}',
                          "Total School Budget": "${:,.2f}",
                          "Per Student Budget": "${:.2f}",
                          'Average Maths Score': "{:6f}", 
                          'Average Reading Score': "{:2f}", 
                          "% Passing Maths": "{:2f}", 
                          "% Passing Reading": "{:2f}"})

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [22]:
top_schools = school_summary.sort_values("% Overall Passing", ascending=False)
top_schools.head().style.format({'Total Students': '{:}',
                           "Total School Budget": "${:,.2f}", 
                           "Per Student Budget": "${:.2f}", 
                           "% Passing Maths": "{:2f}", 
                           "% Passing Reading": "{:2f}", 
                           "% Overall Passing": "{:2f}"})

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [29]:
bottom_schools = top_schools.tail()
bottom_schools = bottom_schools.sort_values('% Overall Passing')
bottom_schools.style.format({'Total Students': '{: }', 
                       "Total School Budget": "${:,.2f}", 
                       "Per Student Budget": "${:.2f}", 
                       "% Passing Maths": "{:6f}", 
                       "% Passing Reading": "{:6f}", 
                       "% Overall Passing": "{:6f}"})

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [24]:
#creates grade level average math scores for each school 
year_nine_maths = student_data.loc[student_data['year'] == 9].groupby('school_name')["maths_score"].mean()
year_ten_maths = student_data.loc[student_data['year'] == 10].groupby('school_name')["maths_score"].mean()
year_eleven_maths = student_data.loc[student_data['year'] == 11].groupby('school_name')["maths_score"].mean()
year_twelve_maths = student_data.loc[student_data['year'] == 12].groupby('school_name')["maths_score"].mean()

maths_scores = pd.DataFrame({
        "Year 9": year_nine_maths,
        "Year 10": year_ten_maths,
        "Year 11": year_eleven_maths,
        "Year 12": year_twelve_maths
})
maths_scores = maths_scores[['Year 9', 'Year 10', 'Year 11', 'Year 12']]
maths_scores.index.name = "School Name"

#show and format
maths_scores.style.format({'Year 9': '{:.2f}', 
                          "Year 10": '{:.2f}', 
                          "Year 11": "{:.2f}", 
                          "Year 12": "{:.2f}"})

## Reading Score by Year

* Perform the same operations as above for reading scores

In [25]:
#creates grade level average reading scores for each school 
year_nine_reading = student_data.loc[student_data['year'] == 9].groupby('school_name')["reading_score"].mean()
year_ten_reading = student_data.loc[student_data['year'] == 10].groupby('school_name')["reading_score"].mean()
year_eleven_reading = student_data.loc[student_data['year'] == 11].groupby('school_name')["reading_score"].mean()
year_twelve_reading = student_data.loc[student_data['year'] == 12].groupby('school_name')["reading_score"].mean()

#merges the reading score averages by school and grade together
reading_scores = pd.DataFrame({
        "Year 9": year_nine_reading,
        "Year 10": year_ten_reading,
        "Year 11": year_eleven_reading,
        "Year 12": year_twelve_reading
})
reading_scores = reading_scores[['Year 9', 'Year 10', 'Year 11', 'Year 12']]
reading_scores.index.name = "School Name"

#format
reading_scores.style.format({'Year 9': '{:.2f}', 
                             "Year 10": '{:.2f}', 
                             "Year 11": "{:.2f}", 
                             "Year 12": "{:.2f}"})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [26]:
# create bins to sparate schools by spending
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Calculating per student budget and categorizing it using pd.cut
per_school_summary['Spending Ranges (Per Student)'] = pd.cut(per_school_summary['Total School Budget'] / per_school_summary['Total Students'], spending_bins, labels=labels)

# Group by spending
by_spending = per_school_summary.groupby('Spending Ranges (Per Student)')

# Calculations for each metric
spending_math_scores = by_spending['Average Maths Score'].mean()
spending_reading_scores = by_spending['Average Reading Score'].mean()
spending_passing_math = by_spending['% Passing Maths'].mean()
spending_passing_reading = by_spending['% Passing Reading'].mean()
overall_passing_spending = by_spending['% Overall Passing'].mean()

# Creating the spending_summary DataFrame
spending_summary = pd.DataFrame({
    "Average Maths Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Maths": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

# Formatting
spending_summary.style.format({
    'Average Maths Score': '{:.2f}', 
    'Average Reading Score': '{:.2f}', 
    '% Passing Maths': '{:.2f}', 
    '% Passing Reading':'{:.2f}', 
    '% Overall Passing': '{:.2f}'
})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [27]:
# create bins to sparate schools by size
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Use pd.cut on the "Total Students" column of the per_school_summary DataFrame.
per_school_summary['Size Bins'] = pd.cut(per_school_summary['Total Students'], size_bins, labels=labels)

# Group by size
by_size = per_school_summary.groupby('Size Bins')

# Calculations
average_maths_score = by_size['Average Maths Score'].mean()
average_reading_score = by_size['Average Reading Score'].mean()
pass_maths_percent = by_size['% Passing Maths'].mean()
pass_read_percent = by_size['% Passing Reading'].mean()
overall_passing = by_size['% Overall Passing'].mean()

# Create size_summary DataFrame
size_summary = pd.DataFrame({
    "Average Maths Score": average_maths_score,
    "Average Reading Score": average_reading_score,
    '% Passing Maths': pass_maths_percent,
    '% Passing Reading': pass_read_percent,
    '% Overall Passing': overall_passing
})

# Reorder columns
size_summary = size_summary[[
    "Average Maths Score",
    "Average Reading Score",
    '% Passing Maths',
    '% Passing Reading',
    '% Overall Passing'
]]

# Formatting
size_summary.style.format({
    'Average Maths Score': '{:.2f}', 
    'Average Reading Score': '{:.2f}', 
    '% Passing Maths': '{:.2f}', 
    '% Passing Reading':'{:.2f}', 
    '% Overall Passing': '{:.2f}'
})

## Scores by School Type

* Perform the same operations as above, based on school type

In [28]:
# Group by school type
by_type = per_school_summary.groupby('School Type') 

# Calculations
average_maths_score = by_type['Average Maths Score'].mean()
average_reading_score = by_type['Average Reading Score'].mean()
pass_maths_percent = by_type['% Passing Maths'].mean()
pass_read_percent = by_type['% Passing Reading'].mean()
overall_passing = by_type['% Overall Passing'].mean()

# Create type_summary DataFrame
type_summary = pd.DataFrame({
    "Average Maths Score": average_maths_score,
    "Average Reading Score": average_reading_score,
    '% Passing Maths': pass_maths_percent,
    '% Passing Reading': pass_read_percent,
    '% Overall Passing': overall_passing
})

# Reorder columns
type_summary = type_summary[[
    "Average Maths Score",
    "Average Reading Score",
    '% Passing Maths',
    '% Passing Reading',
    '% Overall Passing'
]]

# Formatting
type_summary.style.format({
    'Average Maths Score': '{:.2f}', 
    'Average Reading Score': '{:.2f}', 
    '% Passing Maths': '{:.2f}', 
    '% Passing Reading':'{:.2f}', 
    '% Overall Passing': '{:.2f}'
})